<div class="fix">
    <header class="header">
        <div class="container">
            <nav class="navigation">
                <ul class="nav_list">
                    <li class="nav_item nav-item_news"><a class="nav-item_link" href="">News</a></li>
                    <li class="nav_item nav-item_resume"><a class="nav-item_link" href="">Weather</a></li>
                    <li class="nav_item nav-item_weather"><a class="nav-item_link" href="">Resume</a></li>
                </ul>
                <form action="" class="nav_search-form">
                    <input class="nav_inputForSearch" placeholder="Find news" type="text" name="" id="">
                    <button class="btn nav_btn" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </header>
    
    <section class="read-line_section">
        <div class="container read-line_text-box">
            <marquee behavior="scroll" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                facilis est,
                quisquam illum tenetur quibusdam, quo quis atque voluptatibus iste porro odit, nam corporis hic. Alias
                deleniti
                reiciendis ad pariatur?</marquee>
        </div>
    </section>
</div>
